.item-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.4);
    height: 100%;
    width: 60px;
    left: 2%;
    padding-top: 2%;
    min-width: 80px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} .item-selector::-webkit-scrollbar {
    display: none;
}

.item-selector > .item {
    height: 100%;
    border: #FEFEFE 2px;
    transition: 0.1s;
    justify-content: center;
}

.item-selector > .item:hover {
    border-left-style: solid;
}
.item-selector > .item > img {
    width: 50%;
    min-width: 80px;
    padding-top: 20px;
}

.item_display {
    position: relative;
    background: rgba(0,0,0,.4);
    box-shadow: 6px 6px rgba(1, 1, 1, 0.6);
    display: flex;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} .item_display::-webkit-scrollbar {
    display: none;
}

.img_display {
    position: absolute;
    right: 0;
    height: 256px;
    width: 256px;
    background-image: url("../assets/specialties/chili.png");
    transition: 0.3s;
    margin: 20px 20px;
}

.item_description {
    display: flex;
    flex-direction: column;
    margin: 3% 3%;
}

.item_description > h1,h2,h3,h4 {
    font-size: 65px;
    text-shadow: 3px 3px 4px rgb(31, 31, 31);
    color: #F4D8A8;
    transition: 0.3s;
}

.item_description > p {
    text-align: left;
    font-size: 24px;
    color: #F4D8A8;
    width: 79%;
    transition: 0.3s;
}

.item_description > hr {
    width: 70%;
    color: #CFD0D1;
}

.padding {
    padding: 20px;
}

#ascension_usage {
    border-collapse: collapse;
    width: 50%;
}

#ascension_usage td, #ascension_usage th {
    padding: 8px;
    color: #F4D8A8;
}

#ascension_usage tr { background-color: #222326; }

#ascension_usage th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #393B40;
    color: #ddd;
}